{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block main %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>MoodleUserID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>IsOnRotationSchedule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.moodleUserID }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.isOnRotationSchedule ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'moodleUserID': student.moodleUserID}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'moodleUserID': student.moodleUserID}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
