{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Calendrier{% endblock %}



{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">

{% endblock %}

{% block main %}

    {{ include('_academic_level_filter.html.twig') }}

    <div id="calendrier" data-events="{{ data }}"></div>

{#  Modale pour les Enrolments du calendrier  #}
    <div class="modal fade" id="enrolmentModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="enrolmentModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enrolmentModalTitle">{{ modalTitle | default('Change Title') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body justify-content-center" id="enrolmentModalBody">
                    <div id="enrolmentDate"></div>
                    <div id="enrolmentCategory"></div>
                    <div id="enrolmentTime"></div>
                    <div id="justify-content-center"></div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ modalDismiss | default('Fermer')}}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}


