{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Calendrier{% endblock %}



{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">

{% endblock %}

{% block main %}

    {{ include('_academic_level_filter.html.twig') }}

    <div id="calendrier" data-events="{{ data }}"></div>

{% endblock main %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}


