{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Calendrier{% endblock %}



{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">

{% endblock %}

{% block main %}
    <div></div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ academicLevel.id == 2 ? 'active' }}" href="{{ path('calendrier', {'id': 2}) }}">Vet2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ academicLevel.id == 3 ? 'active' }}" href="{{ path('calendrier', {'id': 3}) }}">Vet3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ academicLevel.id == 4 ? 'active' }}" href="{{ path('calendrier', {'id': 4}) }}">Vet4</a>
        </li>
    </ul>
    </div>
    <div id="calendrier" data-events="{{ data }}"></div>



{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/calendrier.js') }}"></script>
{% endblock %}


