{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block h2 %}Mes gardes{% endblock %}

{% block main %}
    <div class="d-flex flex-column align-items-center">

        {% if app.user.isOnRotationSchedule %}
            <div class="row col-6">
                <table class="table table-hover table-primary table-striped table-responsive table-bordered">
                    <thead class="table-dark">
                        <th scope="col">Date</th>
                        <th scope="col">Service</th>
                        <th scope="col">Horaires</th>
                    </thead>
                    <tbody>
                        {% for enrolment in app.user.enrolments %}
                            <tr>
                                <td>{{ enrolment.date | date('l j F Y') | replace({'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche', 'January': 'Janvier', 'February': 'Février', 'March': 'Mars', 'April': 'Avril', 'May': 'Mai', 'June': 'Juin', 'July': 'Juillet', 'August': 'Août', 'September': 'Septembre', 'October': 'Octobre', 'November': 'Novembre', 'December': 'Décembre'})}}</td>
                                <td>{{ enrolment.clinicalRotationCategory.label }}</td>
                                <td>{{ enrolment.clinicalRotationCategory.startTime | date("H") }}h - {{ enrolment.clinicalRotationCategory.endTime | date("H") }}h</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        {% else %}
            Pas de garde à afficher
        {% endif %}

{#        <h2 class="mx-auto text-center p-2">Procédure d'échange de garde</h2>#}


{#        Connecté en tant qu'étudiant#}

{#        <div class="row d-flex mb-3">#}
{#            <a type="button" class="btn btn-primary" href="{{ path('logout') }}">#}
{#                Logout#}
{#            </a>#}
{#        </div>#}

    </div>



{{ include('_modal.html.twig', {modalTitle: 'Test'}) }}

{% endblock %}
