{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}
    Attribution automatique des gardes
{% endblock %}

{% block main %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills">
            {% for element in academicLevelList %}
                <li class="nav-item">
                    <a class="nav-link {{ academicLevel.id == element.id ? 'active' }}" href="{{ ea_url().setRoute('enrolment_allocation', {'id': element.id}) }}">{{ element.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Choisir la date de fin</h3>
                    </div>
                    {% if universityCalendar is null %}
                    <p>Aucun calendrier universitaire n'a été trouvé pour cette promotion. Veuillez créer un calendrier universitaire.</p>
                    {% else %}
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.endDate) }}
                            {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}, 'value': endDate|date('Y-m-d')}) }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Remplir</button>
                        </div>
                        {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

