{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Liste des gardes{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Etudiant</th>
                <th>Categorie de gardes</th>

            </tr>
        </thead>
        <tbody>
        {% for enrolment in enrolments %}
            <tr>
                <td> {{ enrolment.date ? enrolment.date|date('l j F Y')|replace({'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche', 'January': 'Janvier', 'February': 'Février', 'March': 'Mars', 'April': 'Avril', 'May': 'Mai', 'June': 'Juin', 'July': 'Juillet', 'August': 'Août', 'September': 'Septembre', 'October': 'Octobre', 'November': 'Novembre', 'December': 'Décembre'}) : '' }}</td>
                <td>{{ enrolment.student.firstName}}  {{enrolment.student.lastName }}</td>
                <td style="background-color: {{ enrolment.ClinicalRotationCategory.color }};color: white;">
                    {{ enrolment.ClinicalRotationCategory.label }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enrolment_new') }}">Create new</a>
{% endblock %}
