{% extends 'base.html.twig' %}

{% block title %}Enrolment index{% endblock %}

{% block main %}
    <h1>Enrolment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enrolment in enrolments %}
            <tr>
                <td>{{ enrolment.id }}</td>
                <td>{{ enrolment.date ? enrolment.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ enrolment.student.firstName}}  {{enrolment.student.lastName }}</td>
                <td>
                    <a href="{{ path('app_enrolment_show', {'id': enrolment.id}) }}">show</a>
                    <a href="{{ path('app_enrolment_edit', {'id': enrolment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enrolment_new') }}">Create new</a>
{% endblock %}
