{% extends 'base.html.twig' %}

{% block title %}UniversityCalendar{% endblock %}

{% block main %}
    <h1>UniversityCalendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ university_calendar.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ university_calendar.startDate ? university_calendar.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ university_calendar.endDate ? university_calendar.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PublicHolidaysWithRotation</th>
                <td>{{ university_calendar.publicHolidaysWithRotation ? university_calendar.publicHolidaysWithRotation|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>DaysWithoutRotation</th>
                <td>{{ university_calendar.daysWithoutRotation ? university_calendar.daysWithoutRotation|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_university_calendar_index') }}">back to list</a>

    <a href="{{ path('app_university_calendar_edit', {'id': university_calendar.id}) }}">edit</a>

    {{ include('university_calendar/_delete_form.html.twig') }}
{% endblock %}
