{% extends 'base.html.twig' %}
{% block h2 %}
    Liste des catégories de garde
{% endblock %}

{% block main %}
<div>
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Promotion</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Nombre d'étudiant(s)</th>
                <th>Week end</th>
                <th>Couleur</th>
                <th>
            </tr>
        </thead>
        <tbody>
        {% for clinical_rotation_category in clinical_rotation_categories %}
            <tr>
                <td>{{ clinical_rotation_category.id }}</td>
                <td>{{ clinical_rotation_category.label }}</td>
                <td>{{ clinical_rotation_category.academicLevel.label }}</td>
                <td>{{ clinical_rotation_category.startTime ? clinical_rotation_category.startTime|date('H:i') : '' }}</td>
                <td>{{ clinical_rotation_category.endTime ? clinical_rotation_category.endTime|date('H:i') : '' }}</td>
                <td>{{ clinical_rotation_category.nbStudents }}</td>
                <td>{{ clinical_rotation_category.isOnWeekend ? 'Oui' : 'Non' }}</td>
                <td><span style="background-color: {{ clinical_rotation_category.color }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <a href="{{ path('app_clinical_rotation_category_edit', {'id': clinical_rotation_category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <div class="col-lg-5 col-sm-12 "><a href="{{ path('app_clinical_rotation_category_new') }}" class="btn py-2 px3 btn-primary rounded">Creation nouvelle</a></div>
    </div>
</div>
{% endblock %}
