{% extends 'base.html.twig' %}


{% block main %}
    <h1>Liste des catégories de garde</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Promotion</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Nombre d'étudiant</th>
                <th>Week end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clinical_rotation_category in clinical_rotation_categories %}
            <tr>
                <td>{{ clinical_rotation_category.id }}</td>
                <td>{{ clinical_rotation_category.label }}</td>
                <td>{{ clinical_rotation_category.academicLevel.label }}</td>
                <td>{{ clinical_rotation_category.startTime ? clinical_rotation_category.startTime|date('H:i') : '' }}</td>
                <td>{{ clinical_rotation_category.endTime ? clinical_rotation_category.endTime|date('H:i') : '' }}</td>
                <td>{{ clinical_rotation_category.nbStudents }}</td>
                <td>{{ clinical_rotation_category.isOnWeekend ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_clinical_rotation_category_show', {'id': clinical_rotation_category.id}) }}">voir</a>
                    <a href="{{ path('app_clinical_rotation_category_edit', {'id': clinical_rotation_category.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clinical_rotation_category_new') }}">Create new</a>
{% endblock %}
