{% extends 'base.html.twig' %}

{% block title %}ClinicalRotationCategory{% endblock %}

{% block body %}
    <h1>ClinicalRotationCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clinical_rotation_category.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ clinical_rotation_category.label }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ clinical_rotation_category.startTime ? clinical_rotation_category.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ clinical_rotation_category.endTime ? clinical_rotation_category.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbStudents</th>
                <td>{{ clinical_rotation_category.nbStudents }}</td>
            </tr>
            <tr>
                <th>IsOnWeekend</th>
                <td>{{ clinical_rotation_category.isOnWeekend ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ clinical_rotation_category.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_clinical_rotation_category_index') }}">back to list</a>

    <a href="{{ path('app_clinical_rotation_category_edit', {'id': clinical_rotation_category.id}) }}">edit</a>

    {{ include('clinical_rotation_category/_delete_form.html.twig') }}
{% endblock %}
