{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block h2 %}Echange de garde{% endblock %}
{% block main %}
<div class="d-flex flex-column align-items-center">
    {{ form_start(exchangeRequestForm) }}
        {{ form_widget(exchangeRequestForm) }}
    {{ form_end(exchangeRequestForm) }}
    <a href="{{ path('home') }}">back to list</a>
</div>

{% endblock %}
